<div class="row">
  <div class="col-sm-12">
    <table class="table">
      <thead>
        <tr>
          <th class="text-center">ลำดับ.</th>
          <th class="text-left">ชื่อ</th>
          <th class="text-left">อีเมล์</th>
          <th class="text-left">ข้อความ</th>
          <th class="text-center">ลบ</th>
        </tr>
      </thead>
      <tbody>
        <% contacts.forEach((contact, i) => { %>
          <tr>
            <td class="text-center"><%= i+1 %></td>
            <td class="text-left"><%= contact.name %></td>
            <td class="text-left"><%= contact.email %></td>
            <td class="text-left"><%= contact.message %></td>
            <td class="text-center"><a href="/users/contacts/<%= contact._id %>/delete" class="btn btn-xs btn-danger"><i class="fa fa-trash fa-fw"></i></a></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>
